{{ define "side" }}
<aside class="side col-md-12 col-lg-3">
    <div class="search-container">
        <form action="#">
            <input type="text" placeholder="Recherche.." name="search">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    {{ partial "side_list" . }}
</aside>
{{ end }}

{{ define "main" }}
<section class="main col-md-12 col-lg-9">
    <div class="logo-ouidire">
        <a href='{{ .Site.BaseURL }}'></a>
    </div>
    <div class="player-container background-grey-trans">
        <h6 class= "slogan white background-black">
            J'en ai déjà entendu parler quelque part
        </h6>
        {{ range first 1 .Site.RegularPages.ByDate.Reverse }}<!--get the last show-->
            <div class="background-player">
                <audio controls class="player">
                    <source src="{{ .Params.audio }}" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
                <ul class="last-artists">
                {{ range $track := .Params.playlists }}<!--get the last artists-->
                    {{ $elements := split $track "/" }}
                    {{ $artist := index $elements 1 }}
                    <li class="last-artist background-black white">
                        <a href="#"></a>
                        {{ $artist }}
                    </li>
                {{ end }}
                </ul>
            </div>
        {{ end }}
    </div>
    <ul class="list-container row"><!--all shows list-->
    {{ range .Pages.ByDate.Reverse }}
        <li class="main-list col-sm-6">
            {{ partial "show_item" . }}
        </li>
    {{ end }}
    </ul>
</section>
{{ end }}
