{{ define "side" }}
<aside class="side col-sm-3">
    <h1>side single</h1>
    {{ $t := where .Site.RegularPages ".Params.djs" "intersect" .Params.djs }}
    {{ if gt $t 1 }}
        <div>{{ partial "side_single" . }}</div>
    {{ end }}
</aside>
{{ end }}

{{ define "main" }}
<section class="main col-sm-9">
    <h4>{{ .Title }}</h4>
    <h4>{{ .Date.Format "02-01-2006" }}</h4>
    <h4>{{ .Site.BaseURL }}</h4>
    <h4>{{ .Site.Title }}</h4>
    <hr>
    <h5 style="background-color: #ff0f22">{{ .Content }}</h5>
    <hr>
    <strong>Tags:</strong>
    {{ range .Params.tags }}
        <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a>
    {{ end }}
    <hr>
    <strong>Djs:</strong>
    {{ range .Params.djs }}
        <a href='{{ "/djs/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a>
    {{ end }}
    <hr>
    <strong>Audio:</strong>
    <h5>{{ .Site.BaseURL }}{{ .Params.audio }}</h5>
    <audio controls>
        <source src="{{ .Site.BaseURL }}{{ .Params.audio }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <hr>
    <strong>Playlist:</strong>
    <ul>
        {{ range $track := .Params.playlists }}
                {{ $elements := split $track "/" }}
                {{ $timing := index $elements 0 }}
                {{ $artist := index $elements 1 }}
                {{ $track := index $elements 2 }}
            <li>{{ $timing }}</li>
            <li>
                {{ $artist }}
                {{ $.Scratch.Add "artists" (slice $artist) }}
            </li>
            <li>{{ $track }}</li>
            <hr>
        {{ end }}
    </ul>
    <strong>Artistes:</strong>
    <ul>
        {{ range $.Scratch.Get "artists" }}
            <li>{{ . }}</li>
        {{ end }}
    </ul>
    <hr>
    <strong>Visuel:</strong>
    <h5>{{ .Site.BaseURL }}{{ .Params.visual }}</h5>
    <img src="{{ .Site.BaseURL }}{{ .Params.visual }}" alt="visual">
    <hr>
    <strong>Flyer:</strong>
    <h5>{{.Site.BaseURL}}{{.Params.flyer}}</h5>
    <img src="{{ .Site.BaseURL}}{{ .Params.flyer }}" alt="flyer">
    <hr>
    {{ if .Prev }}
        <a href="{{ .Prev.Permalink }}">Previous</a>
    {{ end }}
    {{ if .Next }}
        <a href="{{ .Next.Permalink }}">Next</a>
    {{ end }}
</section>
{{ end }}