{{ define "side" }}
<aside class="side col-md-12 col-lg-3">
    <div class="search-container">
        <form action="#">
            <input type="text" placeholder="Recherche.." name="search">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    {{ partial "side_single" . }}
</aside>
{{ end }}

{{ define "main" }}
<section class="main col-md-12 col-lg-9">
    <div class="logo-ouidire">
        <a href='{{ .Site.BaseURL }}'></a>
    </div>
    <div class="player-container background-grey-trans">
        <h6 class= "slogan white background-black">
            {{ if .Prev }}
                <a href="{{ .Prev.Permalink }}" class="previous">
                    <span class="fas fa-angle-left black background-white"></span>
                    <span class="slogan-pagination-text">Précédent</span>
                </a>
            {{ end }}
            <span>J'en ai déjà entendu parler quelque part</span>
            {{ if .Next }}
                <a href="{{ .Next.Permalink }}" class="next">
                    <span class="slogan-pagination-text">Suivant</span>
                    <span class="fas fa-angle-right black background-white"></span>
                </a>
            {{ end }}
        </h6>
        <div class="background-player">
            <audio controls class="player">
                <source src="{{ .Params.audio }}" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
            <!--<ul class="last-artists">
                {{ range $track := .Params.playlists }}&lt;!&ndash;get the artists&ndash;&gt;
                    {{ $elements := split $track "/" }}
                    {{ $artist := index $elements 1 }}
                    <li class="last-artist white background-black">
                        {{ $artist }}
                    </li>
                {{ end }}
            </ul>-->
        </div>
    </div>
    <ul class="list-container row"><!--Playlist-->
        {{ range $index, $track := .Params.playlists }}
            {{ $elements := split $track "/" }}
            {{ $timing := index $elements 0 }}
            {{ $artist := index $elements 1 }}
            {{ $title := index $elements 2 }}
            <li class="main-list single-list col-md-12 col-lg-6">
                <a href="#" class="black">
                    <ul>
                        <li class="playlist-number background-white black">
                            {{ add $index 1 }}
                        </li>
                        {{ if $timing }}
                            <li class="playlist-timing background-white black">
                                {{ $timing }}
                            </li>
                        {{ end }}
                        {{ if $artist }}
                            <li class="playlist-artist background-white black">
                                {{ $artist }}
                            </li>
                        {{ end }}
                        {{ if $title }}
                            <li class="playlist-title">
                                {{ $title }}
                            </li>
                        {{ end }}
                    </ul>
                </a>
            </li>
        {{ end }}
    </ul>
</section>
{{ end }}