    <footer class="white background-black">
        <div class="wrap-footer row">
            <div class="col-sm-6 footer-left-container">
                <div class="row">
                    <h6 class="white col-sm-2">Diffusé sur</h6>
                    <ul class="col-sm-10 row">
                        <li class="col-sm-3">
                            <a href="http://www.choq.fm/" target="_blank">choq fm</a>
                        </li>
                        <li class="col-sm-3">
                            <a href="http://www.canalb.fr/gabuzomix" target="_blank">canal b</a>
                        </li>
                        <li class="col-sm-3">
                            <a href="http://www.radioeponyme.com/programmes/ouie-dire/" target="_blank">eponyme</a>
                        </li>
                        <li class="col-sm-3">
                            <a href="http://www.vosgueules-lesmouettes.com/ouiumledire.html" target="_blank">vos gueules les mouettes</a>
                        </li>
                    </ul>
                </div>
                <p>Le projet <a href="{{ .Site.BaseURL }}">Ouïedire</a> est développé par <a href="https://www.helloasso.com/associations/constructions-incongrues" target="_blank">Constructions Incongrues</a> et est hébergé par <a href="http://www.pastis-hosting.net/" target="_blank">Pastis Hosting</a>.</p>
            </div>
            <div class="col-sm-6 footer-right-container">
                <ul class="row">
                    <li class="col-sm-2 offset-sm-2">
                        <a href="{{ .Site.BaseURL }}">Dons</a>
                    </li>
                    <li class="col-sm-2">
                        <a href="http://www.musiques-incongrues.net/forum/shows/ouiedire/" target="_blank">forum</a>
                    </li>
                    <li class="col-sm-4">
                        <a href="mailto:contact@ouidire.net" target="_blank">contact@ouidire.net</a>
                    </li>
                    <li class="col-sm-2">
                        <a href="#" target="_blank" class="fas fa-rss"></a>
                        <a href="#" target="_blank" class="fab fa-facebook-f"></a>
                        <a href="#" target="_blank" class="fab fa-twitter"></a>
                    </li>
                </ul>
                <p>Le logo a été réalisé par <a href="#" target="_blank">Otro</a>. Le code source est <a href="https://github.com/constructions-incongrues/net.ouiedire.www" target="_blank">distribué</a> sous licence <a href="https://www.gnu.org/licenses/agpl.html" target="_blank">AGPL3</a>.</p>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
    </body>
</html>